<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[Lumeos] Verify​ your ​email ​address</title>
</head>
<body style="margin:0; background-color: #f8fbfd; height: 100%; font-family: Helvetica, Arial, sans-serif;">
    <div>
        <p>Hi <%= username %></p>
        <p>Please note: The link below only works from your mobile phone. If you are on your laptop or desktop please go to your mobile phone to view this email and then click the link below from your mobile phone.</p>
        <p>Visit this <a href="<%= HOST + link %>">link</a> to verify your email address:</p>
        <p>Please do not reply to this notification, this inbox is not monitored.</p>
        <p>If you are having a problem with your account, please email team@lumeos.io</p>
        <p>Thanks for using our app!</p>
    </div>
</body>
</html>